<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>18/08/31 00:43:54</td>   <td>0</td> <td title="&gt;&gt;TestCaseUsingReport.createHtml()[pri:0, instance:testCase.ZohoForms@52a86356]">&gt;&gt;createHtml</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/31 00:43:55</td>   <td>572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.ZohoForms@52a86356]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/08/31 00:43:55</td>   <td>572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZohoForms.dashboard()[pri:0, instance:testCase.ZohoForms@52a86356]">dashboard</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/31 00:44:05</td>   <td>11038</td> <td title="&lt;&lt;TestCaseUsingReport.flush()[pri:0, instance:testCase.ZohoForms@52a86356]">&lt;&lt;flush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/08/31 00:43:55</td>   <td>562</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ZohoForms.setData()[pri:0, instance:testCase.ZohoForms@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
