<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:08</td>   <td>0</td> <td title="&gt;&gt;TestCaseUsingReport.createHtml()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;createHtml</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/28 01:54:09</td>   <td>1174</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:09</td>   <td>1728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:09</td>   <td>1847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/28 01:54:27</td>   <td>19106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">createlead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:32</td>   <td>24441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:33</td>   <td>25169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:33</td>   <td>25169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/28 01:54:46</td>   <td>38644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">createlead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:56</td>   <td>48497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/08/28 01:54:57</td>   <td>49303</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EditLead.setData()[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:57</td>   <td>49503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:57</td>   <td>49503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/08/28 01:55:06</td>   <td>58247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">editLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:26</td>   <td>77908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.EditLead@2286778]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:55:26</td>   <td>78611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:26</td>   <td>78611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/08/28 01:55:35</td>   <td>87458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">editLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:44</td>   <td>96044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.EditLead@2286778]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/28 01:55:44</td>   <td>96738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:55:44</td>   <td>96798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:44</td>   <td>96808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/28 01:55:52</td>   <td>104280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deleteLead(java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">deleteLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:59</td>   <td>111799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:56:00</td>   <td>112520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:56:00</td>   <td>112520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/28 01:56:09</td>   <td>121289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deleteLead(java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">deleteLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:56:16</td>   <td>128269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:56:17</td>   <td>129173</td> <td title="&lt;&lt;TestCaseUsingReport.flush()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&lt;&lt;flush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
</table>
