<h2>Methods that were not run</h2><table>
<tr><td>testCase.TestCaseUsingReport.createHtml</td></tr>
<tr><td>testCase.TestCaseUsingReport.createHtml</td></tr>
<tr><td>testCase.TestCaseUsingReport.flush</td></tr>
<tr><td>testCase.TestCaseUsingReport.flush</td></tr>
</table>