<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:56</td>   <td>24056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:26</td>   <td>53467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.EditLead@2286778]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:44</td>   <td>71603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.EditLead@2286778]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:59</td>   <td>87358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:56:16</td>   <td>103828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:08</td>   <td>-24441</td> <td title="&gt;&gt;TestCaseUsingReport.createHtml()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;createHtml</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:09</td>   <td>-22713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:33</td>   <td>728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:54:57</td>   <td>25062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:55:26</td>   <td>54170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:55:44</td>   <td>72357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:56:00</td>   <td>88079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseUsingReport.createTest()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/28 01:54:27</td>   <td>-5335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">createlead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/28 01:54:46</td>   <td>14203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">createlead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/28 01:55:52</td>   <td>79839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deleteLead(java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">deleteLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/28 01:56:09</td>   <td>96848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deleteLead(java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">deleteLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/08/28 01:55:06</td>   <td>33806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">editLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/08/28 01:55:35</td>   <td>63017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">editLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/08/28 01:56:17</td>   <td>104732</td> <td title="&lt;&lt;TestCaseUsingReport.flush()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&lt;&lt;flush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:09</td>   <td>-22594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:33</td>   <td>728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:54:57</td>   <td>25062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:26</td>   <td>54170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:55:44</td>   <td>72367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/08/28 01:56:00</td>   <td>88079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/28 01:54:09</td>   <td>-23267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testCase.TC001_CreateLead@5abca1e0]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/08/28 01:54:57</td>   <td>24862</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EditLead.setData()[pri:0, instance:testCase.EditLead@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/28 01:55:44</td>   <td>72297</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:testCase.DeleteLead@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
</table>
